//*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
} 

body{
    font-family: Arial;
    color: black;
    min-height: 100vh;
}



/* -------------------MAIN-SECTION------------------ */
.main {
    background: url('');
     /* background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
     url('d7946cf15ef3e40b666931234b3bb767.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
   font-size: 100px;
   color: #AB5CE3;
}

p {
    font-size: 1.5rem;
    color: #AB5CE3;
}

.info {
     display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 70px;
    padding-top: 350px;
}

/* .info::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
} */

.second-paragragh {
    text-align: center;
}

button {
    padding: 20px 50px;
    color: white;
    background-color: #AB5CE3;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border: none;
    transition: .3s;
    opacity: 1;
}
button:hover{
    background-color: white;
    color: purple;
}
button:active{
    opacity: 0.3;
}
/* -----------------------CARD-SECTION------------------ */

.card-section {
    background-color: rgb(255, 254, 254);
}

h2 {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: bold;
    color: #AB5CE3;
}

.card {
    max-width: 550px;
    height: 450px;
    border: 1px solid rgb(207, 204, 204);
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: none;
    box-shadow: 4px 5px 10px 3px rgb(182, 181, 181);
}

h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    margin-bottom:30px ;
}

.card-p {
    font-size: 25px;
    color: rgb(126, 124, 124);
    text-align: center;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 90px;
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 465px;
}

.card-icon {
    width: 40px;
}

.footer-section {
   background-color: rgb(241, 238, 238);
   padding: 60px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 100px;
}

.social-media {
    margin-left: 60px;
}

h4 {
    font-size: 28px;
}

.footer-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;
}

.footer-info {
    margin-left: 100px;
    margin-right: 100px;
}
.card-r {
   font-size: 25px;
    color: rgb(126, 124, 124);
    margin-bottom: 20px;
}
@media (max-width: 1700px) {
  .card {
     max-width: 450px;
    height: 350px;
    border: 1px solid rgb(207, 204, 204);
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: none;
    box-shadow: 4px 5px 10px 3px rgb(182, 181, 181);
  }
  h3 {
     text-align: center;
    margin-top: 20px;
    font-size: 35px;
    margin-bottom:30px ;
  }

  .card-p {
     font-size: 20px;
    color: rgb(126, 124, 124);
    text-align: center;
  }
}

@media(max-width: 1500px) {

    h1 {
         font-size: 70px;
         color: #AB5CE3;
         text-align: center;
    }
    a {
         text-decoration: none;
        color: #AB5CE3;
        font-size: 20px;
    }
}

@media(max-width: 1300px) {
    body {
        max-width: 1300px;
    }
     h1 {
         font-size: 50px;
         color: #AB5CE3;
         text-align: center;
    }
}

@media(max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
}

@media(max-width: 375px) {
     h1 {
         font-size: 30px;
         color: #AB5CE3;
         text-align: center;
         margin-left: 20px;
    }
    p {
    font-size: 10px;
    color: #AB5CE3;
}

button {
    padding: 10px 10px;
    color: white;
    background-color: #AB5CE3;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    border: none;
    transition: .3s;
    opacity: 1;
}

h2 {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: bold;
    color: #AB5CE3;
}

 h3 {
     text-align: center;
    margin-top: 20px;
    font-size: 30px;
    margin-bottom:30px ;
  }

  .card {
     max-width: 300px;
    height: 250px;
    border: 1px solid rgb(207, 204, 204);
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: none;
    box-shadow: 4px 5px 10px 3px rgb(182, 181, 181);
  }
  h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom:30px ;
  }

  .card-p {
     font-size: 10px;
    color: rgb(126, 124, 124);
    text-align: center;
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 90px;
    gap: 20px;
}
.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
}

.card-icon {
    width: 20px;
}
}


@media(max-width: 1000px) {
        h1 {
         font-size: 40px;
         color: #AB5CE3;
         text-align: center;
         margin-left: 20px;
    }
    p {
    font-size: 20px;
    color: #AB5CE3;
}

button {
    padding: 20px 20px;
    color: white;
    background-color: #AB5CE3;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border: none;
    transition: .3s;
    opacity: 1;
}

h2 {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: bold;
    color: #AB5CE3;
}

 h3 {
     text-align: center;
    margin-top: 20px;
    font-size: 30px;
    margin-bottom:30px ;
  }

  .card {
     max-width: 500px;
    height: 350px;
    border: 1px solid rgb(207, 204, 204);
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: none;
    box-shadow: 0px 10px 10px rgb(182, 181, 181);
  }
  h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    margin-bottom:30px ;
  }

  .card-p {
     font-size: 20px;
    color: rgb(126, 124, 124);
    text-align: center;
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 90px;
    gap: 20px;
}
.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 425px;
}

.card-icon {
    width: 20px;
}
}

@media(max-width: 500px) {
     h1 {
         font-size: 30px;
         color: #AB5CE3;
         text-align: center;
         margin-left: 20px;
    }
    p {
    font-size: 10px;
    color: #AB5CE3;
}

button {
    padding: 10px 10px;
    color: white;
    background-color: #AB5CE3;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    border: none;
    transition: .3s;
    opacity: 1;
}

h2 {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: bold;
    color: #AB5CE3;
}

 h3 {
     text-align: center;
    margin-top: 20px;
    font-size: 30px;
    margin-bottom:30px ;
  }

  .card {
     max-width: 300px;
    height: 250px;
    border: 1px solid rgb(207, 204, 204);
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: none;
    box-shadow: 4px 5px 10px 3px rgb(182, 181, 181);
  }
  h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom:30px ;
  }

  .card-p {
     font-size: 10px;
    color: rgb(126, 124, 124);
    text-align: center;
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 90px;
    gap: 20px;
}
.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
}

.card-icon {
    width: 20px;
}
}
