.product-header{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 100px;
            margin-bottom: 100px;
        }
        .searchIcon{
            width: 30px;
            height: 30px;
            position: relative;
            left: -40px;
        }
        .search{
            height: 40px;
            width: 50%;
            border: none;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
                -5px -5px 5px rgba(0, 0, 0, 0.2);
            font-size: 18px;
            padding: 20px;
        }
        .search:hover{
            cursor: pointer;
        }
        .search:active{
            border: 1px solid #4f2cc8;
        }
        h4{
            font-size: 18px;
            margin: 10px;
        }
        .category{
            height: 30px;
            width: 15%;
            font-weight: bold;
            padding-left: 10px;
        }
        /*=========================================================================*/
        .select{
            width: 80%;
            height: auto;
            margin: 10px auto;
        }
        .category-phone{
            display: flex;
            align-items: center;
            justify-content:center;
            gap: 40px;
            list-style: none;
            li{
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
                border-radius: 10px;
                background-color: #AB5CE3;
                color: white;
                font-weight: bold;
                padding: 5px 10px;
                font-size: 18px;
                margin: 1px 10px;

            }
        }